.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(var(--drop-card-width), 90vw));
  gap: 1.2rem;
  justify-content: center;
}

.modal__title {
  grid-column: 2;
  place-self: center;
}

.modal__close {
  grid-column: 3;
  align-self: center;
  justify-self: end;
}

.modal__games {
  grid-column: 1 / -1;
  overflow-y: auto;
  /* display: grid;
  grid-template-columns: subgrid; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.6rem;
  > li {
    max-width: var(--drop-card-width);
  }
}
