.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.2rem;
  justify-content: center;

  & > div {
    max-width: var(--drop-card-width);
  }
}

.modal__title {
  grid-column: 2;
  place-self: center;
}

.modal__close {
  grid-column: 3;
  align-self: center;
  justify-self: end;
  aspect-ratio: 1;
  width: 3.2rem;
  font-weight: 600;
}

.modal__games {
  grid-column: 1 / -1;
  overflow-y: auto;
  /* display: grid;
  grid-template-columns: subgrid; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.6rem;
  > li {
    max-width: var(--drop-card-width);
  }
}
