.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: var(--nav-height-padding) var(--nav-width-padding);
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: var(--nav-height);

  background-color: var(--darker);

  z-index: 10;
}

.back {
  grid-column: 1;
  justify-self: left;
}
.logo {
  grid-column: 2;
  justify-self: center;
}
.identity {
  grid-column: 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: right;
  position: relative;
}
