:root {
  /* Palette (https://lospec.com/palette-list/pola5) */
  --midnight: #070810;
  --navy: #18284a;
  --sky-blue: #52a5de;
  --baby-blue: #acd6f6;
  --off-white: #ebf9ff;

  --darkest: var(--midnight);
  --darker: var(--navy);
  --normal: var(--sky-blue);
  --lighter: var(--baby-blue);
  --lightest: var(--off-white);

  /*  */
  --drop-card-width: 29.4rem;
}
