.content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: max(66vw, 1080px);
  width: 100%;
  margin: 0 auto;
  margin-top: calc(var(--nav-height));
  padding: 0.8rem 0;
}
