.content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: max(66vw, 1080px);
  width: 100%;
  margin: 0 auto;
  margin-top: calc(var(--nav-height) + 2 * var(--nav-height-padding));
  padding: 0.8rem 1.6rem;
}

.footer {
  border-top: 1px solid var(--darker);
  margin-top: auto;
  padding: 0.6rem;
}
