@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900');
@import 'reset.css';
@import '_var.css';
@import '_util.css';
@import '_symbols.css';

:root {
  /* Placement vars */
  --bg: var(--darkest);
  --text: var(--lightest);

  --nav-height: 4rem;
  --nav-height-padding: 0.8rem;
  --nav-width-padding: 1.2rem;

  font-size: 62.5%;
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: light) {
    &:not(.dark) {
      --darkest: var(--off-white);
      --darker: var(--baby-blue);
      --normal: var(--sky-blue);
      --lighter: var(--navy);
      --lightest: var(--midnight);
    }
  }

  &.light {
    --darkest: var(--off-white);
    --darker: var(--baby-blue);
    --normal: var(--sky-blue);
    --lighter: var(--navy);
    --lightest: var(--midnight);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100dvh;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6em;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
h4 {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.4rem;
}

p + p {
  margin-top: 0.8rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.8rem;
  background-color: var(--normal);
  color: var(--midnight);
  cursor: pointer;
  padding: 0.4rem 0.6rem;

  &:hover {
    filter: brightness(1.2);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    border: none;
    cursor: default;
    pointer-events: none;
  }

  &.link {
    border-radius: unset;
    border: unset;
    background-color: transparent;
    color: var(--normal);
  }
}

img {
  display: block;
}

ul {
  list-style: none;
}

dl > dt {
  font-weight: bold;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.modal {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(auto-fill, var(--drop-card-width));
  gap: 0.6rem;
  border: 2px solid var(--lightest);
  border-radius: var(--br);
  background-color: var(--bg);
  padding: 0.8rem 1.2rem 1.2rem;
  max-width: 90vw;
  max-height: 80vh;
  width: fit-content(90%);
  outline: none;
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: #000a;
}

.modal__header {
  grid-row: 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-row: 3;
  grid-column: 1 / -1;
}

[hidden] {
  display: none !important;
}
