@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900');

:root {
  /* Palette (https://lospec.com/palette-list/pola5) */
  --darkest: #070810;
  --darker: #18284a;
  --normal: #52a5de;
  --lighter: #acd6f6;
  --lightest: #ebf9ff;

  /* Placement vars */
  --bg-dark: var(--darkest);
  --bg-light: var(--lightest);
  --text-dark: var(--lightest);
  --text-light: var(--darkest);

  font-size: 62.5%;
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-dark);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: light) {
    &:not(.dark) {
      --darkest: #ebf9ff;
      --darker: #acd6f6;
      --normal: #52a5de;
      --lighter: #18284a;
      --lightest: #070810;
    }
  }

  &.light {
    --darkest: #ebf9ff;
    --darker: #acd6f6;
    --normal: #52a5de;
    --lighter: #18284a;
    --lightest: #070810;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &:disabled {
    border: none;
    cursor: default;
    pointer-events: none;
  }
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
