.fb-btn {
  align-items: center;
  background-color: #2374f2;
  color: white;
  display: flex;
  font-weight: bold;
  height: 80%;
  > img {
    height: 1.5em;
    margin-right: 0.6rem;
  }
}

.fb-prof-btn {
  height: 100%;
  padding: unset;

  > img {
    height: 100;
    border: 3px solid var(--normal);
  }
}

.dropdown {
  --hpad: 0.6rem;
  --wpad: 0.8rem;

  position: absolute;
  top: calc(var(--nav-height) + var(--nav-height-padding) + 0.4rem);
  right: calc(0rem - var(--nav-width-padding) + 0.4rem);
  padding: var(--hpad) var(--wpad);

  background-color: var(--darker);
  color: var(--lightest);
}
