.card {
  display: grid;
  grid-template-rows: calc(min(var(--drop-card-width), 95vw) * 0.469) auto;
  background-color: var(--lightest);
  color: var(--darkest);
  border-radius: var(--br);
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(1);
    transition: filter 0.1s ease;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-flow: column;
  justify-items: stretch;

  > img {
    object-fit: cover;
    max-height: 100%;
  }

  > img:hover {
    grid-column: span 20;
  }
}

.content {
  padding: 0.6rem;
}
