.card {
  display: grid;
  position: relative;
  grid-template-rows: calc(min(var(--drop-card-width), 95vw) * 0.469) auto;
  background-color: var(--darker);
  border-radius: var(--br);
  overflow: hidden;
  border: 1px solid var(--darkest);
  box-shadow: 0 0.2rem 0.8rem #0006;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  background-color: var(--darkest);
  border: 3px solid var(--darker);
  aspect-ratio: 1;
  width: 3.2rem;

  font-size: 1.2em;
  font-weight: 700;
  color: var(--lightest);
}

.clickable {
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    filter: brightness(1.15);
  }

  &:active {
    filter: brightness(1);
    transition: filter 0.1s ease;
  }
}

.images {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
  justify-items: stretch;

  > img {
    object-fit: cover;
    height: 100%;
  }

  > img:hover,
  > img.span {
    grid-column: span 20;
  }
}

.content {
  padding: 1rem;
}

.card--game > .content {
  display: grid;
  grid-auto-rows: auto;
  gap: 0.4rem;

  & > *:nth-child(1) {
    --font-size: 1.2em;
    /* Font-Size * 2 Lines * Line-Height */
    max-height: calc(var(--font-size) * 2 * 1.2);
    overflow: hidden;
    justify-self: flex-start;
    & > h4 {
      font-weight: 600;
      font-size: var(--font-size);
    }
  }
  & > *:nth-child(2) {
    justify-self: flex-end;
    font-size: 1.1em;
    font-weight: 600;
  }
}

.link--game {
  transition: color 0.3s ease;
}
